<%- include('partials/header.ejs')-%>

<main id="main">
  
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <!--<h2>Sobre nós</h2>-->
        <b style="font-size: 30px">
          Com certeza, é sua maior dúvida no momento saber se somos a melhor
          empresa para seus projetos. Dá uma olhada aqui em baixo!
        </b>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          
            <img src="" class="img-fluid" alt="" />
         
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
           
            <p class="fst-italic">
              Uma gráfica com foco em assessoria total em publicidade para
              empresas que acabaram de entrar no mercado ou que estão a um
              tempo.
            </p>
            <ul>
              <li>
                <i class="bx bx-check-double"></i>A melhor impressão digital
              </li>
              <li>
                <i class="bx bx-check-double"></i>Materiais da melhor qualidade
              </li>
              <li>
                <i class="bx bx-check-double"></i>Garantia de 2 anos anti-desbotamento
              </li>
              <li><i class="bx bx-check-double"></i>Curto prazo de entrega</li>
              <li>
                <i class="bx bx-check-double"></i>F.A.Q e atendimento
                especializado para soluções de dúvidas gerais
              </li>
            </ul>
            <p>
              E muito mais!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Serviços</h2>
        <p>
          Logo abaixo há uma breve lista de nossos serviços, mas não nos
          limitamos apenas a isso, queremos lhe ajudar no que precisar!
        </p>
      </div>
     
      <style>
        .buttonPressed{
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.28);
          transition: all 600ms ease;
          bottom: 0;
        }
        
        .buttonPressed:hover{
          bottom: 10px;
          background-color: #192817;
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.28);
          
        }
      </style>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          
          <% for(let i = 0; i<b_services.length; i++) { %>
         <a href="<%=b_services[i].link%>">
            <div class="icon-box mt-5 mt-lg-0 buttonPressed" data-aos="fade-up" style="    border: solid #7cc576;
    border-width: 1px; border-radius: 20px; margin-bottom: 20px" >
            <i class="bi bi-caret-right"></i>
            <h4 style="color:#555555"><%=b_services[i].name%></h4>
            <p>
              <%=b_services[i].desc%>
            </p>
          </div>
        </a>
          <% } %>
        </div>
        <div
          class="image col-lg-6 order-1 order-lg-2"
          data-aos="fade-left"
          data-aos-delay="100"
        >
        
            <img src="" class="img-fluid" alt="" />
      
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Portfólio</h2>
        <p>Todos os nossos trabalhos mais recentes</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Todos</li>
            <li data-filter=".filter-fachada">Fachadas</li>
            <li data-filter=".filter-banner">Banners</li>
            <li data-filter=".filter-adesivos">Adesivos</li>
            <li data-filter=".filter-perfurado">Perfurados</li>
            <li data-filter=".filter-visitCard">Cartão visita</li>
            <li data-filter=".filter-other">Outros</li>
          </ul>
        </div>
      </div>

      <div
        class="row portfolio-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <% for(let i =0; i<b_produtos.length; i++) { %>
        <div class="col-lg-4 col-md-6 portfolio-item filter-<%= b_produtos[i].category.toLowerCase() %>">
          <div class="portfolio-wrap">
            <img
              src="<%= b_produtos[i].photos[0] %>"
              class="img-fluid"
              alt=""
            />
            <div class="portfolio-info">
              <h4><%= b_produtos[i].name %></h4>
              <p><%= b_produtos[i].details %></p>
              <div class="portfolio-links">
                <a
                  href="<%= b_produtos[i].photos[0] %>"
                  data-gallery="portfolioGallery"
                  class="portfolio-lightbox"
                  title="<%= b_produtos[i].name %>"
                  ><i class="bx bx-plus"></i
                ></a>
                <a href="/produto/<%= b_produtos[i].id %>" title="Mais detalhes"
                  ><i class="bx bx-link"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <% } %>

      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">
      <div class="quote-icon">
        <i class="bi bi-person">Team</i> 
      </div>

      <div
        class="testimonials-slider swiper-container"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <% for(let i =0; i < b_team.length; i++) { %>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <%= b_team[i].desc %>
              </p>
              <img
                src="<%= b_team[i].photo %>"
                class="testimonial-img"
                alt=""
              />
              <h3><%= b_team[i].name %></h3>
              <h4><%= b_team[i].occupation %></h4>
            </div>
          </div>
          <% } %>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container">
      <div class="row">
        
        <% for(let i = 0; i < b_clientLogos.length; i++) { %>
        <div
          class="col-lg-2 col-md-4 col-6"
          data-aos="zoom-in"
          data-aos-delay="<%=i%>00"
        >
          <img src="<%= b_clientLogos[i].link%>" class="img-fluid" alt="" />
        </div>
        <% } %>
 
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

 <!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Valores</h2>
      <p>
        Logo abaixo você pode fazer uma simulação do tipo de produto que deseja
        e realizar o pedido.
      </p>
    </div>

    <div class="row" data-aos="fade-up">
      <!--Simulador e botão de pedido-->
      <h2>
        Orçamento aproximado por medida
      </h2>
      <p>
        Obs: o resultado abaixo é o valor mais próximo ao valor final, entre em
        contato para pedir um orçamento exato. É gratuito!
      </p>
      <div class="form-floating" style="padding-left: 5px">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Tipo de produto"
          id="selectProductType"
        >
          <option selected>Lona e Ferro (fachada completa)</option>
          <option value="1">Banner</option>
          <option value="2">Adesivo</option>
          <option value="3">Perfurado</option>
          <option value="4">Lona</option>
          <option value="5">Cavalete simples</option>
          <option value="6">Cavalete duplo</option>
        </select>
        <label for="floatingSelect">Selecione o tipo de produto:</label>
      </div>

      <p></p>

      <div class="input-group mb-3">
        <input
          type="number"
          class="form-control"
          placeholder="largura em metros"
          aria-label="largura"
               id="larg"
        />
        <span class="input-group-text">X</span>
        <input
          type="number"
          class="form-control"
          placeholder="altura em metros"
          aria-label="Server"
               id="alt"
        />
      </div>
      <div style="display: none padding: 20px" id="resultado">
       
      </div>
      <button type="button" class="btn btn-secondary" id="calcOrc">Calcular</button>
      <p></p>
      <button type="button" class="btn btn-success" id="makeP" style="display:none">Fazer pedido</button>
      <!---->
    </div>
  </div>
</section>
<!-- End Pricing Section -->


  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>F.A.Q - Perguntas Frequentes</h2>
      </div>

      <ul class="faq-list">
        <% for(let i = 0; i<b_faq.length; i++) { %>
        <li data-aos="fade-up">
          <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq<%=i%>"
            ><%=b_faq[i].pergunta%> <i class="bx bx-chevron-down icon-show"></i
            ><i class="bx bx-x icon-close"></i
          ></a>
          <div id="faq<%=i%>" class="collapse" data-bs-parent=".faq-list">
            <p>
             <%=b_faq[i].resp%>
            </p>
          </div>
        </li>
          <% } %>
      </ul>
    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Contato</h2>
        <p>
          Tem alguma dúvida? Um pedido? Ou até mesmo uma sugestão? Entre em
          contato conosco.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div
            class="info d-flex flex-column justify-content-center"
            data-aos="fade-right"
          >
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Localização:</h4>
              <p>
                R. Oswaldo Coelho, 385<br />Areial, Rio Branco - AC <br />CEP
                69906-086
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p><%= b_email %></p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Número:</h4>
              <p><%= b_phoneNumber %></p>
            </div>

            <div class="phone">
              <i class="bi bi-building"></i>
              <h4>CNPJ:</h4>
              <p><%= b_cnpj %></p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form role="form" class="php-email-form" data-aos="fade-left">
            <div class="row">
              <div class="form-group mt-3">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Seu nome"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                id="contactMessage"
                placeholder="Mensagem"
                required
              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit" id="contactSend">Enviar Mensagem</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<script>
  document.getElementById("contactSend").addEventListener("click", () => {
    if (
      document.getElementById("name").value == "" ||
      document.getElementById("contactMessage").value == ""
    )
      return;

    location.href = `https://api.whatsapp.com/send?phone=<%= b_linkWpp %>&text=Olá, me chamo ${
      document.getElementById("name").value
    }.
  
  ${document.getElementById("contactMessage").value}`;
  });
  
  const productType = document.getElementById("floatingSelect"), 
        calcButton = document.getElementById("calcOrc"),
        larg = document.getElementById("larg"),
        alt = document.getElementById("alt")
  
  const verifyInputs = () => {
    if(document.getElementById("larg").value == "" ||  document.getElementById("alt").value == "") {
    return false;
    } else {
      return true;
    }
  }
  
  calcButton.addEventListener("click", () => {
   
    if(verifyInputs()) {
      let multiplicador = 0;
    if(productType.selectedIndex == 0) multiplicador = 180
    if(productType.selectedIndex == 1) multiplicador = 100
    if(productType.selectedIndex == 2) multiplicador = 100
    if(productType.selectedIndex == 3) multiplicador = 100
    if(productType.selectedIndex == 4) multiplicador = 100
    if(productType.selectedIndex == 5) multiplicador = 100
    if(productType.selectedIndex == 6) multiplicador = 100
      
      
      let resultadoNum;
      
      if(productType.selectedIndex == 5) {
      
        resultadoNum = ((alt.value * larg.value) * 90) + 2 * ((alt.value * larg.value) * 90)
      } else if (productType.selectedIndex == 6) {
        
        resultadoNum = 2 * ((alt.value * larg.value) * 90) + 2 * ((alt.value * larg.value) * 90)
      } else {
        resultadoNum = (alt.value * larg.value) * multiplicador;
      }
    
    
      
      document.getElementById("resultado").innerHTML = 
        `
        <h2 style="color: green;">Valor aproximado - R$${resultadoNum}</h2>
        `;
      document.getElementById("resultado").style.display = 'block';
      document.getElementById("makeP").style.display = 'block';
    } else {
      alert("Preencha os campos de altura e largura.")
    }
  });
  
   document.getElementById("makeP").addEventListener("click", () => {
     
     location.href = `https://api.whatsapp.com/send?phone=<%= b_linkWpp %>&text=Olá, selecionei no site ${
      productType.value
    }. Com as medidas de ${larg.value}m de largura e ${alt.value}m de altura.`;
     
   })
  
</script>

<%- include('partials/footer.ejs')-%>
